body{

    font-family: 'Montserrat', sans-serif;

}

/* COLOURED SECTION */
.coloured{

    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 3% 7%;
    border-radius: 0 0 60px 60px;
}
/* SUB COLOURED */
.sub-coloured{
    background-color: #583fbe;
    padding: 1.6rem 2rem;
    border-radius: 60px 60px 60px 60px;
}
/* NOT COLOURED */
.not-coloured{
    padding: 3% 7%;
}
/*SUB NOT COLOURED */
.sub-not-coloured{
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 60px 60px 60px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* NAV BAR */
.logo{
    width: 5rem;
}
.nav-text{
    font-size: 1.5rem;
}
.nav-item{
    padding: 0 0 0 0.5rem;

}

/* MAIN BODY */
.main{
    padding: 10% 0 0 0;
}
h1{
    font-family: 'Montserrat Black', sans-serif; 
    font-size: 6rem;
    color: #fff;
}
h2{
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 4rem;

}
h3{
    font-family: 'Ubuntu Bold', sans-serif;
    font-weight:900;
}
h4{
    font-family: 'Ubuntu Bold', sans-serif;
    color:#fff;
    margin:4rem 0 0 0;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
h5{
    font-size: 2rem;
}
span{
    font-family: 'Montserrat Black', sans-serif;
    font-weight: 900;
}
.pro{
    font-family: 'VT323', monospace;
    color: #f8f7aa;
}
.web-img{
    width: 40rem;
}
/* ABOUT */
.timeline{

    position:relative;
    margin:1rem auto;
}
.timeline:after{
    content: " ";
    position:absolute;
    background-color: #861657;
    background-image :linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    width:10px;
    top:0;
    bottom:0;
    left:50%;
    margin-left: -3px;
}
.card{
    width: 50%;
    margin: 0;
    padding: 10px 30px;
}

.left{
    left:0;
}
.right{
    left:50%
}
.card-body{
    background-color: #f5f7fa;
    position: relative;
    padding: 20px;
    border-radius: 6px;
}
/* SKILLS */
.skills-container{
    width: 100%;
    background-color:#ddd;
    border-radius: 40px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.skill{
    text-align: right;
    color: #fff;
    border-radius: 40px 40px 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.skill-col-2{
    width: 50%;
    margin: auto 7% auto 0;

}
.html{
    width: 90%;
    background-color: #3a98ba;
}
.css{
    width: 80%;
    background-color: #f2a739;
}
.bootstrap{
    width: 80%;
    background-color: #a540ba;
}
.javascript{
    width: 70%;
    background-color: #be4e39;
}
.cpp{
    width: 70%;
    background-color: #d4c732;
}
.python{
    width: 50%;
    background-color: #ca803e;
}
.skill-col-1{
    margin: auto 0 auto 7%;
}
.skills-text{
    font-family: "Montserrat";
    font-size: 4rem;
}
.fab, .cpp-img{
    margin: 0 1rem;
    font-size: 1.8rem;
}
.fa-html5{
    color: #3a98ba;
}
.fa-css3-alt{
    color: #f2a739 ;
}
.fa-bootstrap{
    color: #a540ba ;
}
.fa-js-square{
    color: #be4e39 ;
}
.fa-python{
    color: #ca803e ;
}
.contact-me{
    margin: 4rem  0 4rem 0;
}
.logo-col{
    margin:auto;

}
.logo-div{
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    display: inline-block;

    margin: 1rem;
    background-color: #f8f7aa;
}
.social-logo{
    width: 5rem;
    padding: 1rem;
    margin: auto;
}
.p-contact{
    color: #fff;
    text-align: center;
}
footer{
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}
footer p{
    font-size: 1rem;
}
@media screen and (max-width:1150px){
    .main{
        text-align: center;
    }
}
@media screen and (max-width:700px){
    h1{
        font-size: 5rem;
    }
    .web-img{
        position: static;
        width: 25rem;
    }
    .timeline::after{
        left:1%;
    }
    .card{
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
    .left, .right{
        left:2%;
    }
}
@media screen and (max-width:430px){
   .skills-text{
       font-size: 3rem;
   }
   .web-img{
       width: 20rem;
   }
}